* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #3E3E3E;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Bebas Neue', cursive;
}

a {
    text-decoration: none;
    color: #3C3C3C;
}

nav {
    background: #FFFFFF;
    width: 90%;
    margin: 0 auto;
    padding: 2.4rem;
}

nav a {
    float: right;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 700;
}

section {
    height: 500px;
}

.half-width {
    width: 40%;
    float:left;
}

.half-width img {
    width: 100%;
}

.personalIntro {
    width: 80%;
    margin: 0 auto;
}

.introText {
    padding: 100px 0 0 0;
}

.half-width h1 {
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
}

.half-width h1 span {
    color: #F46060;
}

.half-width p {
    line-height: 24px;
    margin-bottom: 48px;
}

.half-width a {
    padding: 30px 85px;
    background: linear-gradient(0deg, #FF8063 -28.33%, #F46060 95.83%);
    border-radius: 6px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.sectionImg {
    padding-left: 15%;
}

.aboutText {
    padding-left: 20%;
    padding-top: 150px;
}

.aboutText h2 {
    font-size: 48px;
    line-height: 48px;
}

.latestProject {
    margin: 150px 0 0 0;
    background: #E5E5E5;
    padding: 10% 0;
}

.latestProject h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}

.latestProject h1 span {
    color: #F46060;
}

.projectCard {
    width: 90%;
    margin-left: 7.5%;
}

.card {
    width: 30%;
    float: left;
    background: #FFFFFF;
    margin-right: 2%;
    margin-top: 81px;
    box-shadow: 0px 6.5812px 19.7436px rgba(0, 0, 0, 0.07);
    border-radius: 19.7436px;
}

.card img {
    width: 100%;
    text-align: center;
}

.card h1 {
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #363958;
    padding: 5%;
}

.card p {
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    padding: 0 5%;
}
